@font-face {
  font-family: "SF Pro";
  font-weight: 400;
  src: url("../assets/fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: "SF Pro";
  font-weight: 700;
  src: url("../assets/fonts/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: ChevinCyrillic;
  font-weight: 700;
  src: url("../assets/fonts/Chevin-Cyrillic-Bold.ttf");
}