@import '~normalize.css';
@import "fonts";
@import "mixins";
@import "vars";
@import "utils";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #0D42FF;

  color: var(--text-color);

  font-family: "SF Pro", sans-serif;

  &.lock {
    overflow: hidden;
  }

  &.changed-color {
    background-color: #fff;
  }
}

label {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.container {
  max-width:#{$maxWidthContainer + px};

  margin: 0 auto;

  padding: 0 16px;

  height: 100%;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  padding: 16px 28px 0 28px;
  font-size: 20px;

  margin-bottom: 11px;

  &__title {
    margin: 0;
  }
}

.main {
  flex-grow: 1;

  padding-top: 32px;

  border-radius: 16px 16px 0 0;

  background-color: var(--bg-color);
}

.main_number-quetion {
  text-align: center;
  padding: 16px 0;
}
.main_quetion {
  text-align: center;
  font-size: 16px;
}
.main_quetion-text {
  max-width: 280px;
  margin: 4px auto;
}

.answer-block {
  margin: 0 20px 0 0;
  padding: 2px 0 0 0;
}
.main_answer {
  display: flex;
  margin-top: 20px;
}

.main_answer-prew {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.main_answer-text {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0;
}
.main_answer-check {
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  color: #ffffff;
}
.main_sumbit {
  width: 100%;
}
.main_sumbit-button {
  border: none;
  background-color: #0D42FF;
  border-radius: 2px;
  width: 100%;
  max-width: 400px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0;
  cursor: pointer;
}
.form-quetions {
  margin-bottom: 32px;
}
.main-shadow {
  height: 115px;
  background: linear-gradient(358.29deg, #0F0F0F 1.06%, rgba(15, 15, 15, 0.7) 98.17%);;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-task-block {
  padding-bottom: 40px;
}
.submit-answer_buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.submit-answer_but-not-yet {
  background: #BABABA;
  width: 100%;
  margin-right: 8px;
  border: 2px solid #BABABA;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 0;

  cursor: pointer;

  transition: .2s;

  &:hover {
    box-shadow: 0 0 10px #BABABA;
  }

  &:active {
    transform: scale(0.95);
  }
}
.submit-answer_but-not-yet-inner {
  border-radius: 2px;
  background: #0F0F0F;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(1);

  transition: .2s;
}

.submit-answer_but-not-yet:hover .submit-answer_but-not-yet-inner {
  color: #0F0F0F;

  background-color: #BABABA;

}

.submit-answer_but-yes {
  width: 100%;
  margin-left: 8px;
  border: none;
  border-radius: 2px;
  background-color: #0D42FF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  padding: 12px 0;
}
.submit-answer {
  margin-top: 32px;
}
.submit-answer_title {
  text-align: center;
  margin: 0 0 32px 0;
  padding: 0;
}
.submit-answer_text {
  margin: 0;
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.footer {
  height: 150px;

  background-color: #111;

  color: #ffffff;
  font-family: ChevinCyrillic, sans-serif;
  font-size: 14px;

  text-align: center;

  padding: 43px 20px 53px 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.radio {
  &-true {
    display: none;

    &:checked+.radio-fake {
      border: 1px solid var(--text-color);
      &:before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &-fake {
    width: 16px;
    height: 16px;

    display: inline-block;

    border: 1px solid #C4C4C4;

    border-radius: 50%;

    flex-shrink: 0;

    margin-right: 12px;
    margin-top: 5px;

    position: relative;

    &:before {
      content: '';

      display: block;

      width: 8px;
      height: 8px;

      background-color: var(--text-color);

      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%) scale(0);

      transition: .2s;
    }
  }
}

.footer-team, .foter-copyright {
  font-size: inherit;
  margin-bottom: 20px;
}
.footer-team-inner, .footer-copyright-inner {
  text-decoration: none;
  color: #ffffff;
}
.blue-text {
  color: #2C5EF6;
  font-size: inherit;
}
.footer-button {
  background: none;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: inherit;
  align-items: flex-start;
}
.footer-arrow {
  position: relative;
  left: 6px;
  top: 6px;
}
@media (max-width: 950px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding: 0;
    }

    &__logo {
      text-align: center;
    }
    &__nav {
      position: fixed;
      top: 49px;
      left: 0;

      width: 100%;
      height: 100%;

      flex-direction: column;
      justify-content: center;
      column-gap: 0;
      row-gap: 12vh;

      background-color: #fff;

      overflow: auto;

      transform: translateX(-100%);

      transition: transform .2s;

      z-index: 2;

      &.active {
        transform: translateX(0);
      }
    }

    &__burger,
    &__logo {
    }

    &__link {
      font-size: 5vh;
    }

    &__burger {
      display: flex;

      transition: transform .2s;

      &-container {
        display: block;
      }

      &.active {
        transform: rotateY(180deg);
      }
    }
  }
}